<div class="message">
  {{#if message.showProfile}}
    <img class="img-rounded" src="{{message.senderPicture}}" />
    <p class="message-sender">
      {{message.chatName}} <span class="timestamp">{{moment-from-now message.timestamp}}</span>
    </p>
  {{/if}}
  <p class="message-text">
    {{#emoji-tag}}
    {{message.text}}
    {{/emoji-tag}}

  </p>
</div>
