<div class="message">
  {{#if showProfile}}
    <img class="img-rounded" src="{{message.sender.picture}}" />
    <p class="message-sender">
      {{message.sender.nickname}}
    </p>
  {{/if}}
  <p class="message-text">
    {{#emoji-tag}}
    {{message.text}}
    {{/emoji-tag}}

  </p>
</div>
