<div class="profile">
  {{#link-to 'dashboard.profile'}}<img class="img-circle" src="{{session.data.authenticated.profile.picture}}" />{{/link-to}}
  <p>
    {{session.data.authenticated.profile.nickname}}
  </p>
  - <a href="#" {{action 'logout'}}>Logout</a>
  <p>
    Balance: {{userProfile.balance}}
  </p>
</div>
