.bet {
  background: $brand-dark;
  color: $brand-white;
  padding: 10px;
  box-shadow: 2px 3px 3px $brand-normal;
  margin: 30px;

  p {
    white-space: normal;
  }
  a {
    color: $brand-highlight;
  }
}
