.profile {
  background: $brand-dark;
  padding: 15px;
  width: 300px;
  height: 87px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid black;
  p {
    display: inline-block;;
    color: $brand-highlight;
    font-size: 18px;
    vertical-align: -webkit-baseline-middle;

  }
  img {
    position: relative;
    width: 30px;
  }
  a {
    color: $brand-highlight;
  }
}
