$brand-dark: #252839;
$brand-text: #b5b5b7;
$brand-highlight: #f2b632;
$brand-gray: #677077;
$brand-white: rgb(236,236,236);

@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import "dashboard";
@import "loader";
@import "left_container";
@import "profile";
@import "chat";
@import "new_bet";
@import "bet";

body {
  background: $brand-dark;
  color: $brand-text;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.emoji {
    width: 2.25em;
    height: 2.25em;
    display: inline-block;
    margin-bottom: -0.25em;
}

.dashboard-container {
  height:100vh;
}

.left-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: auto;
  background: red;
}

.splash {
  margin-top: 300px;
  text-align: center;
}
.btn {
  background: $brand-highlight;
  border-radius: 30px;
  color: $brand-dark;
  border: none;
  box-shadow: 1px 1px 1px #444;
  &:hover {
    background: $brand-dark;
    color: $brand-highlight;
  }

}
