@import "loader";


$brand-blue: rgb(44, 62, 80);
$brand-white: rgb(236,236,236);

body {
  background: $brand-blue;
  color: $brand-white;
  position: relative;
}

.main-container {
  .chat {
    background: $brand-white;
    color: $brand-blue;
    position: fixed;
    height: 100%;
    top: 150px;
    bottom: 0px;
    width: 300px;
    overflow: hidden;
    // left: 0;
    .messages-container {
      position: fixed;
      height: 100%;
      bottom: 43px;
      width: 300px;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      .message {
        margin: 5px;

        img {
          position: absolute;
          width: 50px;
          vertical-align: top;
        }
        .message-text {
          position: relative;
          margin-left: 60px;
          font-size: 14px;
          &:last-child {
            margin-bottom: 10px;
          }
        }
        .message-sender {
          position: relative;
          top: 0;
          font-weight: 700;
          margin-left: 60px;
          font-size: 14px;
          color: #333;
          .timestamp {
            color: #aaa;
            font-weight: 400;
          }
        }
      }

    }
    .chat-input {
      position: fixed;
      bottom: 10px;
      left: 10px;
      width: 260px;
    }
  }
}

header {
  margin-top: 20px;
  height: 100px;

  .brand {
    width: 400px;
    display: inline-block;
    h1 {
      width: 100%;
      margin: 0;
    }
    a {
      color: $brand-white;
      text-transform: none;
    }
  }

  .profile {
    float: right;
    width: 200px;
    text-align: right;
    p {
      display: inline-block;
      font-size: 18px;
      vertical-align: -webkit-baseline-middle;

    }
    img {
      position: relative;
      width: 30px;
    }
    a {
      color: $brand-white;
    }
  }
}
.emoji {
    width: 2.25em;
    height: 2.25em;
    display: inline-block;
    margin-bottom: -0.25em;
}
