<div class="main-container">
  <header>
    {{#if session.isAuthenticated}}
      <div class="profile">
        <img class="img-rounded" src="{{session.data.authenticated.profile.picture}}" />
        <p>{{session.data.authenticated.profile.nickname}}</p>
        <a href="#" {{action 'logout'}}>Logout</a>
      </div>
    {{/if}}
  </header>
  <h1 id="title">Playoff Pool</h1>


  {{outlet}}

</div>
