<div class="dashboard-container">
  <header>
    {{profile-container}}
    <div class="dashboard-header">
      {{#link-to 'dashboard'}}<h2>Dashboard</h2>{{/link-to}}
      {{link-to 'Make a Bet' 'dashboard.bets.new' class="btn new-bet"}}
    </div>
  </header>
  <div class="left-container">
    {{chat-container messages=model.messages newMessage=(action 'newMessage') }}
  </div>
  <div class="dashboard">
    {{outlet}}
  </div>
</div>
