<div class="dashboard-container">
  <header>
    {{profile-container}}
    <h2>Dashboard</h2>
  </header>
  <div class="left-container">
    {{chat-container messages=model.messages newMessage=(action 'newMessage') }}
  </div>
  <div class="dashboard">
    {{outlet}}
  </div>
</div>
